.item__title_link {
    color: rgba(68, 75, 88, 1);
  }
  .item__title_link:hover {
    color: rgba(68, 75, 88, 1);
    text-decoration: underline;
  }
  .item__title {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .card__active {
    width: 172px;
  }