
  .loader {
    border: 8px solid #f3f3f3; /* Светлый фон */
    border-top: 8px solid #a1a6aa; /* Цвет вращающейся части */
    border-radius: 50%; /* Круглая форма */
    width: 60px; /* Ширина лоадера */
    height: 60px; /* Высота лоадера */
    animation: spin 1s linear infinite; /* Анимация вращения */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }