.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 90px;
  background: rgba(68, 75, 88, 1);
  justify-content: center;
  padding-top: 23px;
  padding-bottom: 23px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  
}
.footer__container_box {
  width: 100%;
  max-width: 1180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__container_logo{
  cursor: pointer;
}
.container__logo_text {
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
}

@media (max-width: 1024px) {
  .footer__container{
    padding: 10px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .footer__container_box {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .footer__container{
    max-width: 320px;
  }
}